In [56]:
# AUTH
import requests
import json
import pandas as pd
from datetime import datetime

In [44]:
#홈페이지에서 API서비스 신청시 받은 Appkey, Appsecret 값 설정
#모의투자
#my_app: "앱키"
#my_sec: "앱시크리트"
#실전투자 
my_app= "PSglwhdVVXUZyqE39FS702s8KcaiDtulMRyS"
my_sec= "e6VRuxXOp4EAwee74L1cA3ktcLTlaNCyTOaiAPM+OCJnmnkBE8n0QS4+4ys21PU5yRs/QOXWlASzkj8IgU4s25tJZkT5yduKZD5Ue3RWNH0AFRFYM6RzcYxqDCxngujfRx3RPDyiSN1H99ip3C1qnKHCOH+4QOHfEPuBdT81WfiYW02sqjg="


#계좌번호 앞 8자리
my_acct="43016876"
my_acct_stock= "증권계좌 8자리"
my_acct_future= "선물옵션계좌 8자리"
#계좌번호 뒤 2자리
my_prod= "01"
#my_prod: "03"

#실전투자
prod= "https://openapi.koreainvestment.com:9443"
#모의투자
vps= "https://openapivts.koreainvestment.com:29443"


my_agent= "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36"

In [45]:
class Env:
    def __init__(self):
        self.my_app = my_app
        self.my_sec = my_sec
        self.my_url = prod
        self.my_token = None
        self.my_acct = my_acct
        self.my_prod = my_prod

In [46]:
_env = Env()

In [47]:
def auth():
    url = f'{_env.my_url}/oauth2/tokenP'
    headers = {"content": "application/json"}
    data = {
        "grant_type":"client_credentials",
        "appkey": _env.my_app,
        "appsecret": _env.my_sec
    }

    res = requests.post(url, headers=headers, data= json.dumps(data))
    if res.status_code == 200:
        print('토큰 발급 성공')
        _env.my_token = res.json()['access_token']
    else:
        print("토큰 발급 실패")
        print(res.status_code, res.text)

In [48]:
auth()

토큰 발급 성공

In [54]:
stock_code = "005930" # 삼성전자

URL = f"{_env.my_url}/uapi/domestic-stock/v1/quotations/inquire-price"

# 헤더 설정
headers = {
    "Content-Type": "application/json",
    "authorization": f"Bearer {_env.my_token}",
    "appkey": _env.my_app,
    "appsecret": _env.my_sec,
    "tr_id": "FHKST01010100",  # 현재가 조회 TR
    "custtype": "P"
}

params = {
    "fid_cond_mrkt_div_code": "J",   # 주식 시장 구분: J=코스피, Q=코스닥
    "fid_input_iscd": stock_code     # 종목코드
}

In [ ]:
# 요청
res = requests.get(URL, headers=headers, params=params)
data = res.json()

# 결과 출력
if data['rt_cd'] == '0':
    df = pd.DataFrame([data['output']])
    print("현재가 데이터 조회 성공")
    display(df)
else:
    print("조회 실패", data['msg_cd'], data['msg1'])

✅ 현재가 데이터 조회 완료!

,iscd_stat_cls_code,marg_rate,rprs_mrkt_kor_name,bstp_kor_isnm,temp_stop_yn,oprc_rang_cont_yn,clpr_rang_cont_yn,crdt_able_yn,grmn_rate_cls_code,elw_pblc_yn,...,cpfn_cnnm,frgn_hldn_qty,vi_cls_code,ovtm_vi_cls_code,last_ssts_cntg_qty,invt_caful_yn,mrkt_warn_cls_code,short_over_yn,sltr_yn,mang_issu_cls_code
0,55,20.00,KOSPI200,전기·전자,N,N,N,Y,40,Y,...,"7,780 억",2963359261,N,N,175324,N,00,N,N,N

In [65]:
df.columns

Index(['iscd_stat_cls_code', 'marg_rate', 'rprs_mrkt_kor_name',
       'bstp_kor_isnm', 'temp_stop_yn', 'oprc_rang_cont_yn',
       'clpr_rang_cont_yn', 'crdt_able_yn', 'grmn_rate_cls_code',
       'elw_pblc_yn', 'stck_prpr', 'prdy_vrss', 'prdy_vrss_sign', 'prdy_ctrt',
       'acml_tr_pbmn', 'acml_vol', 'prdy_vrss_vol_rate', 'stck_oprc',
       'stck_hgpr', 'stck_lwpr', 'stck_mxpr', 'stck_llam', 'stck_sdpr',
       'wghn_avrg_stck_prc', 'hts_frgn_ehrt', 'frgn_ntby_qty', 'pgtr_ntby_qty',
       'pvt_scnd_dmrs_prc', 'pvt_frst_dmrs_prc', 'pvt_pont_val',
       'pvt_frst_dmsp_prc', 'pvt_scnd_dmsp_prc', 'dmrs_val', 'dmsp_val',
       'cpfn', 'rstc_wdth_prc', 'stck_fcam', 'stck_sspr', 'aspr_unit',
       'hts_deal_qty_unit_val', 'lstn_stcn', 'hts_avls', 'per', 'pbr',
       'stac_month', 'vol_tnrt', 'eps', 'bps', 'd250_hgpr', 'd250_hgpr_date',
       'd250_hgpr_vrss_prpr_rate', 'd250_lwpr', 'd250_lwpr_date',
       'd250_lwpr_vrss_prpr_rate', 'stck_dryy_hgpr',
       'dryy_hgpr_vrss_prpr_rate', 'dryy_hgpr_date', 'stck_dryy_lwpr',
       'dryy_lwpr_vrss_prpr_rate', 'dryy_lwpr_date', 'w52_hgpr',
       'w52_hgpr_vrss_prpr_ctrt', 'w52_hgpr_date', 'w52_lwpr',
       'w52_lwpr_vrss_prpr_ctrt', 'w52_lwpr_date', 'whol_loan_rmnd_rate',
       'ssts_yn', 'stck_shrn_iscd', 'fcam_cnnm', 'cpfn_cnnm', 'frgn_hldn_qty',
       'vi_cls_code', 'ovtm_vi_cls_code', 'last_ssts_cntg_qty',
       'invt_caful_yn', 'mrkt_warn_cls_code', 'short_over_yn', 'sltr_yn',
       'mang_issu_cls_code'],
      dtype='object')

- '시가': 'open',
- '고가': 'high',
- '저가': 'low',
- '종가': 'close',
- '거래량': 'volume',
- '등락률' : 'change_rate',
- 'BPS' : 'bps',
- 'PER' : 'per',
- 'PBR' : 'pbr',
- 'EPS' : 'eps',
- 'DIV' : 'div',
- 'DPS': 'dps',
- '시가총액': 'market_cap',
- '거래대금': 'trade_value',
- '상장주식수': 'shares',
- '보유수량': 'foreign_shares',
- '지분율': 'foreign_ratio',
- '한도수량': 'limit_shares',
- '한도소진률': 'limit_ratio'

In [ ]:
def parse_market_daily_from_fhkst01010100(output: dict) -> dict:
    return {
        "date": datetime.now().strftime('%Y-%m-%d'),
        "code": output.get("stck_shrn_iscd"),
        "close": int(output.get("stck_prpr", 0)), # 종가
        "open": int(output.get("stck_oprc", 0)), # 시가
        "high": int(output.get("stck_hgpr", 0)), 
        "low": int(output.get("stck_lwpr", 0)),
        "volume": int(output.get("acml_vol", 0)),
        "market_cap": int(output.get("hts_avls", 0)),
        "foreign_ratio": float(output.get("hts_frgn_ehrt", 0.0)),
    }

In [69]:
parsed = parse_market_daily_from_fhkst01010100(data["output"])
df_parsed = pd.DataFrame([parsed])
display(df_parsed)

,date,code,close,open,high,low,volume,market_cap,foreign_ratio
0,2025-04-17,005930,55100,54700,55300,54500,10867069,3261720,50.06